{% extends "base.html" %}

{% block title %}
    registration
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename = 'css/style.css') }}">
{% endblock %}

{% block content %}
    <form method="post" class = "reg">
        <p class = "registration">Зареєструйтесь</p>
        <input type="text" required name = "name" placeholder="Name">

        <input type="email" required name="email" placeholder="Email">

        <input type="password" required name="password" placeholder="Password">
        <button type="button" id="password" onclick="showHide('password')">🙈</button>

        <input type="password" required name="password_confirm" placeholder="Password Again">
        <button type="button" id="password_confirm" onclick="showHide('password_confirm')">🙈</button>

        <button>Зареєструватись</button>
    </form>
    <script src="{{ url_for('registration.static', filename = 'js/showHide.js') }}"></script>
{% endblock %}