{% extends "base.html" %}

{% block title %}
    registration
{% endblock %}

{% block header %}
    <!-- <link rel="stylesheet" href="{{ url_for('registration.static', filename = 'static/css/styles2.css')  }}"> -->
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('registration.static', filename='js/registration.js') }}"></script>
{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="user_session" id="user_session">

        <p class="login">Login</p>
        <input type="text" name="login" class="login" required>

        <p class="email">Email</p>
        <input type="email" name="email" required>

        <p class="password">Password</p>
        <input type="password" name="password" required>

        <p class = "password">Password_confirm</p>
        <input type="password" name="password_confirm" required>

        <button>SEND</button>
    </form>

    <h1>{{ message }}</h1>

{% endblock %}