{% extends "base.html" %}

{% block title %}
    dashboard
{% endblock %}

{% block links %}
    <!-- <link rel="stylesheet" href="{{ url_for('home.static', filename='css/dashboard.css') }}"> -->
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/home/static/ts/home.js"></script>
{% endblock %}

{% block header %}
    <div class="header">
        <div class="quiz-lab">
            <img src="/static/icons/logo.svg">
        </div>

    <nav>
        <div class="profile">
            <p>{{ user.login }}</p>
            <img src="">
            <a href="/profile/{{ user.id }}">
                <button>
                    <p>Profile</p>
                </button>
            </a>
        </div>
    </nav>

    </div>
{% endblock %}

{% block content %}
    <body>
        <div class="search">
            <form method="get" action="/search_result">
                <input type="text" name="search" placeholder="Search" value="{{ search }}">
                <button type="submit">
                    <img src="" alt="">
                </button>
            </form>
        </div>
        <div class="fast-buttons">
            <div class="join">
                <div class="join-quiz">
                    <input type="text" placeholder="Enter a join code">
                    <button>
                        <p>Join</p>
                    </button>
                </div>
            </div>
            <div class="button-container">
                <button class="createQuiz">
                    <!-- <img src="" alt=""> -->
                    <p>Create Quiz</p>
                </button>
                <button class="statisticButton">
                    <!-- <img src="" alt=""> -->
                    <p>Statistics</p>
                </button>
            </div>
        </div>
        <div>
            <p>random</p>
            <div>
                {% for quiz in quizzes %}
                    {{ quiz.name }}
                    <img src="/media/images/{{ quiz.image }}" class="quiz-image">
                    
                    <a href="/quiz/view/{{ quiz.id }}">
                        <button>{{ quiz.name }}</button>
                    </a>
                {% endfor %}
                
            </div>
        </div>
        <div>
            <p>cool category</p>
            <div></div>
        </div>
    </body>
{% endblock %}