<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - QuizLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    {% block links %}{% endblock %}
    
</head>
<body>
    <header>
        
        <nav>
            {% if user %}
                <a href="/">Home</a>
                <a href="/logout">logout</a>
                <a href="/userpage">{{ user.login }}</a>
            {% else %}
                <a href="/">Home</a>
                <a href="/registration">registration</a>
                <a href="/login">login</a>
            {% endif %}
        </nav>
        
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>