{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">

{% endblock %}

{% block header %}
    




{% endblock %}

{% block content %}

<div class="content">


    <input class="search" type="search" placeholder="Пошук квізу...">

    <div class="start-quiz">
        <div class="code">
            <div class="code-into">
                <input class="quiz-code" type="text" placeholder="Код квізу">
                <button class="code-text">Приєднатися</button>
            </div>
            
        </div>
        <div class="create">
            <a href="/create_quiz_api" class="quiz-button">
                <img src="{{ url_for('home.static', filename='img/add_quiz.png') }}">
                <h1>Створити квіз</h1>
            </a>
            <a href="" class="quiz-button">
                <img src="{{ url_for('home.static', filename='img/statistic.png') }}">
                <h1>Статистика</h1>
            </a>
        </div>

    </div>



    <div class="recommend">
        <h1>Нові</h1>
        <div class="recommend-new-pop">
            <!-- FIRST BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- SECOND BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- THIRD BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- FOURTH BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

        </div>

        <h1>Популярні</h1>
        <div class="recommend-new-pop">
            <!-- FIRST BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- SECOND BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- THIRD BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

            <!-- FOURTH BOX -->
            <a href="" class="box">
                <div class="quiz-name">
                    <p>Перший квіз</p>
                    <img class="star" src="{{ url_for('home.static', filename='img/star.png') }}" alt="">
                </div>
            </a>

        </div>
    </div>

    <!-- <footer class="bottom">
        <a class="bottom-link" href="">©QuizLab</a>
        <a class="bottom-link" href="">Про нас</a>
        <a class="bottom-link" href="">Підтримка</a>
    </footer> -->


</div>
    
    


    

{% endblock %}


