{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">  
{% endblock %}

{% block header %}
    <div class="header-links">
        <a href="/registration">Категорії</a>
        <a href="/login">Про нас</a>
        <a href="/login">Війти</a>
    </div>
{% endblock %}

{% block content %}
    <div class="code">
        <h1 class="code-text">
            Приєднайтесь до квізу
        </h1>
        <input type="text" placeholder="Код квізу: 123 456">
    </div>

    <div class="content">
        <div class="create-quiz">
            <div class="create">
                <img class="create-person" src="{{ url_for('home.static', filename='img/person.png') }}" alt="">
                <div class="create-info">
                    <h1 class="create-text">
                        Створити квіз самому
                    </h1>
                    <button>Quiz editor</button>
                </div>
            </div>

            <div class="create">
                <img class="create-ai" src="{{ url_for('home.static', filename='img/ai.png') }}" alt="">
                <div class="create-info">
                    <h1 class="create-text">
                        Згенерувати з допомогою ШІ
                    </h1>
                    <button>Quiz editor</button>
                </div>
            </div>
        </div>
        <div class="recommend">
            <div class="recommend-text">
                
            </div>
            <div class="lent">

            </div>
        </div>
    </div>
{% endblock %}
