{% extends 'base.html' %}

{% block title %}{{ profile.login }}{% endblock %}

{% block content %}
    <div>
        <div class="bio">
            <div>
                <div class="customProfile">
                    <div class="avatar">
                        <img src="/static/icons/default.png">
                    </div>

                    <div class="infoContainer">
                        <div class="nameAndId">
                            <p>{{ profile.login }}</p>
                            <p>{{ profile.id }}</p>
                        </div>
                        <p>Quizzes created {{ profile.quizzes | length }}</p>
                        <p>Quizzes passed {{ profile.passed_quizzes }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="yourCreations">
            <div class="categoriesContainer">
                
            </div>

            <div class="quizContainer">
                {% for quiz in quizzes %}
                    {{ quiz.name }}
                    <img src="/media/images/{{ quiz.image }}">
                    
                    <a href="/quiz/view/{{ quiz.id }}">
                        <button>{{ quiz.name }}</button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}