{% extends "base.html" %}

{% block title %}Solving quiz {{ quiz.name }}{% endblock %}

{% block links %}
    <!-- <link rel="stylesheet" href="{{ url_for('quizApp.playQuizApp.static', filename='css/quiz_view.css') }}"> -->
{% endblock %}

{% block scripts %}
    <script type="module" src="/js/quiz/play/static/ts/create_session.js"></script>
{% endblock %}

{% block content %}
    <div class="main">
        <header class="header">
            <button class="quit">
                <img src="" alt="">
            </button>
            <button class="share">
                <img src="" alt="">
            </button>
        </header>
        <div class="info">
            <p>total questions: {{ quiz.questions|length }}</p>
        </div>
        <div class="quiz-buttons">
            <img src="" alt="">
            <h1 class="quiz-name">{{ quiz.name }}</h1>
            <div class="buttons">
                <button class="play">
                    play
                </button>
                
                <button>
                    create live room
                </button>

                <button>
                    modify     
                </button>
            </div>
            <p class="quiz-owner">@made by: {{ creator_name }}</p>
        </div>
        <div class="description">
            <p>
                {{ quiz.description }}
            </p>
        </div>
    </div>
{% endblock %}