{% extends "base.html" %}

{% block title %} {% endblock %}

{% block links %}

{% endblock %}

{% block scripts %}
    <script src="js/quiz/take_quiz/static/ts/.js"></script>
{% endblock %}

{% block content %}
    <div class="question">
        <div class="answers">
            <form method="post" id="form">
                <input type="text" name="" id="input">
                <button type="submit" id="button"></button>
            </form>
            <span id="span">

            </span>
        </div>
    </div>
{% endblock %}