.header {
    position: absolute;
    width: 100vw;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #4E54C8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; 
}

.name {
    text-align: center;
    font-size: 2em;  
    font-weight: bold;
    margin: 0 auto;
}

p{
    position: absolute;
    width: 128px;
    height: 49px;
    left: 47px;
    top: 23px;
    font-family: 'Estedad-VF';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #FFFFFF;
}