{% extends "base.html" %}

{% block title %}create question{% endblock %}

{% block links %}{% endblock %}

{% block scripts %}
    <script type="module" src="/js/quiz/create/static/ts/question/index.js"></script>
    <script type="module" src="/js/quiz/create/static/ts/answer/index.js"></script>
{% endblock %}

{% block content %}
    <a href="/" class="backButton">back</a>
    
    <div class="questionSettings"></div>
    
    <button type="button" class="createAnswer">create answer</button>
    
    <div class="answers"></div>
{% endblock %}