{% extends "base.html" %}

{% block title %}create question{% endblock %}

{% block links %}{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('ts.static', filename='create_quiz_app/static/ts/question/CRUDQuestion.js') }}"></script>
    <script type="module" src="{{ url_for('ts.static', filename='create_quiz_app/static/ts/question/renderQuestion.js') }}"></script>
    <script type="module" src="{{ url_for('ts.static', filename='create_quiz_app/static/ts/answer/CRUDAnswer.js') }}"></script>
    <script type="module" src="{{ url_for('ts.static', filename='create_quiz_app/static/ts/answer/renderAnswer.js') }}"></script>
{% endblock %}

{% block content %}
    <a href="/" class="backButton">back</a>
    
    <div class="questionSettings"></div>
    
    <button type="button" class="createAnswer">create answer</button>
    
    <div class="answers"></div>
{% endblock %}