.header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
}

a{
    width: 155px;
    height: 49px;
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 200px;
    height: 100%;
    border: 0px;
    right: 100px;
    background-color: #FFFFFF;
    transition: 0.2s;
    font-size: 20px;
}

.menu:hover {
    transform: scale(1.03);
}

.start-quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}

.code-text {
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    padding: 0px 20px;
    color: #FFFFFF;
    background-color: #A34EC8;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
    transition: 0.2s;
}

.code-text:hover {
    background-color: #8e42af;
    transform: rotate(-2deg) scale(1.03);
}

.quiz-code {
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #A34EC8;
    align-self: center;

}

.code {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    box-sizing: border-box;
    padding: 13px 45px;
    gap: 24px;
    width: 800px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #BEBEBE;
    border-radius: 20px;
}

.code-into {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 5px 20px;
    background-color: #ebebeb;
    border-radius: 15px;
}

input::placeholder {
    font-family: 'Fascinate', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #8F8F8F;
}

input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    line-height: 1.6;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    margin-right: 5px;
}


.quiz-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #A34EC8;
    color: #FFFFFF;
    width: 300px;
    line-height: 2;
    padding: 0px 20px;
    border-radius: 15px;
    transition: 0.2s;
}

.quiz-button:hover {
    background-color: #8e42af;
    transform: scale(1.03);
}



.create {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 45px;
    gap: 24px;
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #BEBEBE;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}


/* button {
    box-sizing: border-box;
    width: 306px;
    height: 80px;
    border: 5px solid #000000;
    border-radius: 50px;
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #000000;
    bottom: 20px; 
    left: 50%; 
} */

.create-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 00px;
}

.create-person {
    width: 163px;
    height: 163px;
}

.create-ai {
    width: 163px;
    height: 163px;
}

.create-text {
    font-family: Estedad-VF, sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.recommend {
    width: 100%;
    height: 256px;
}

.recommend-text {
    width: 100%;
    height: 35px;
}

.recommend-text p {
    font-family: 'Estedad-VF';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    color: #000000;
}