body {
    height: 120%;
    background: linear-gradient(-90deg, rgba(227, 198, 238, 0.8), rgba(0, 0, 0, 0) 70.71%);
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
}

a{
    height: 49px;
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #ffffff;
    text-decoration: none;
}

/* .menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 200px;
    height: 100%;
    border: 0px;
    right: 100px;
    background-color: #FFFFFF;
    transition: 0.2s;
    font-size: 20px;
}

.menu:hover {
    transform: scale(1.03);
} */

.search {
    margin: auto;
    margin-top: 100px;
    width: 950px;
    height: 50px;
    font-size: 30px;
    font-family: 'Estedad-VF', sans-serif;
    font-weight: 900;
    color: #A34EC8;
    border: 3px solid #d8d8d8;
    padding-left: 20px;
    transition: 0.3s;
    outline: none;
}

.search:hover {
    border-color: #A34EC8;
    /* box-shadow: 0px 5px 10px #808080; */
}
.search:focus {
    transform: scale(1.01);
    
}

.search::placeholder {
    font-size: 30px;

}

.start-quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
}

.code-text {
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    padding: 0px 20px;
    color: #FFFFFF;
    background-color: #A34EC8;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 5px;
    transition: 0.2s;
}

.code-text:hover {
    transform: rotate(-2deg) scale(1.03);
    box-shadow: 0px 5px 5px #bebebe;
}
.code-text:active {
    background-color: #8e42af;
    transform: rotate(-2deg) scale(1);
}

.quiz-code {
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #A34EC8;
    align-self: center;
    outline: none;
    transition: 0.3s;
}

.quiz-code:hover {
    border-color: #A34EC8;
}
.quiz-code:focus {
    transform: scale(1.02);
}

.code {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    box-sizing: border-box;
    padding: 13px 45px;
    gap: 24px;
    width: 800px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #d8d8d8;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0px 5px 10px #808080;
}


.code-into {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 5px 20px;
    background-color: #ebebeb;
    border-radius: 15px;
}

input::placeholder {
    font-family: 'Fascinate', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #8F8F8F;
}

input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    line-height: 1.6;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    margin-right: 5px;
}

.input:hover {
    border-color: #A34EC8;
}


.quiz-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #A34EC8;
    color: #FFFFFF;
    width: 340px;
    height: 100px;
    padding: 0px 20px;
    border-radius: 15px;
    transition: 0.2s;
    text-decoration: none;
}

.quiz-button h1 {
    color: #FFFFFF;
}

.quiz-button:hover {
    background-color: #8e42af;
    transform: scale(1.03);
}

.quiz-button h1 {
    font-size: 30px;
    font-weight: bold;
}



.create {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 45px;
    gap: 24px;
    width: 450px;
    height: 300px;
    background: #FFFFFF;
    border: 3px solid #d8d8d8;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    box-shadow: 0px 5px 10px #808080;
}


/* button {
    box-sizing: border-box;
    width: 306px;
    height: 80px;
    border: 5px solid #000000;
    border-radius: 50px;
    font-family: 'Estedad-VF', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 56px;
    color: #000000;
    bottom: 20px; 
    left: 50%; 
} */

.create-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 00px;
}

.create-person {
    width: 163px;
    height: 163px;
}

.create-ai {
    width: 163px;
    height: 163px;
}

.create-text {
    font-family: "Estedad-VF", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.recommend {
    width: 100%;
    height: 256px;
}

.recommend-text {
    width: 100%;
    height: 35px;
}

.recommend-text p {
    font-family: 'Estedad-VF';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    color: #000000;
}


.box {
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 180px;
    background: 
        linear-gradient(0deg, rgba(163, 12, 223, 0.8), rgba(0, 0, 0, 0) 70.71%),
        url("../img/python.jpg");
    
    transition: 0.3s;
    box-shadow: 0px 3px 5px #9b8798;
}
.box:hover {
    transform: scale(1.03);
}
.box p {
    color: white;
    margin-left: 10px;
}

.recommend-new-pop {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.quiz-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.star {
    margin-bottom: 4px;
}




.background-img {
    position: relative;
    z-index: -100;
}

h1 {
    font-family: "Estedad-VF", sans-serif;
    font-weight: 700;
    color: #A34EC8;
}