img {
    width: 200px;
    height: 200px;
}

/* .search {
    display: flex;
    width: 52.08vw;
    height: 5.55vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.78vw;
    background: #2C3755;
    border-radius: 3.12vw;
}

.form button {
    margin: 0 auto;
    width: 1.30vw;
    height: 1.30vw;
} */