*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2A44;
}

header{
    width: 100%;
    height: 60px;
    background-color: #1F2A44;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

}

.quiz-lab img{
    display: flex;
    width: 170px;
    height: 50px;
    position: absolute;
    margin-left: 10px;
    margin-top: -5px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background: none;
    object-fit: cover;
    position: relative;
    right: -1680px;
    margin-left: -10px;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: none;
}

.profile p{
    font-size: 24px;
    color: white;
    background: none;
}

.profile button{
    width: 45px;
    height: 45px;
    border-radius: 0.5vw;
    border: none;
    color: white;
    cursor: pointer;
    background: none;
}

.search {
    display: flex;
    width: 52.08vw;
    height: 5.55vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.78vw;
    background: #2C3755;
    border-radius: 3.12vw;
}

.form button {
    margin: 0 auto;
    width: 1.30vw;
    height: 1.30vw;
}

.join {
    display: flex;
    background-color: #48638a;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 850px;
    height: 210px;
    border-radius: 20px;
    margin-top: 35px;
}

.join-quiz {
    display: flex;
    background-color: #1F2A44;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 755px;
    height: 80px;
    border-radius: 20px;
}

.join-quiz input {
    width: 500px;
    height: 60px;
    background: #2C3755;
    border-radius: 0.5vw;
    border: none;
    padding: 0 1vw;
    color: white;
}

.join-quiz button {
    width: 180px;
    height: 60px;
    background: #5B89FF;
    border-radius: 0.5vw;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    background-clip: padding-box;
}

.button-container {
    display: flex;
    background-color: #48638a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 210px;
    border-radius: 20px;
    margin-top: 35px;
}

.createQuiz {
    width: 250px;
    height: 80px;
    background: #5B89FF;
    border-radius: 0.5vw;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.statisticButton {
    width: 250px;
    height: 80px;
    background: #5B89FF;
    border-radius: 0.5vw;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.fast-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 20px;
}

.quiz-image {
    width: 200px;
    height: 150px;
}